@import "tailwindcss";

@layer base {
    h1 {
        @apply text-3xl font-bold tracking-tight text-slate-900;
    }

    h2 {
        @apply text-2xl font-bold tracking-tight text-slate-900;
    }

    h3 {
        @apply text-lg font-semibold text-slate-900;
    }

    p {
        @apply text-slate-500 leading-relaxed;
    }

    body {
        @apply bg-slate-50 text-slate-900 antialiased font-sans;
    }
}